.footer
  position: fixed
  bottom: 5%
  width: 100%
  text-align: center
  &-copy
    color: #9b9b9b
    font-family: "PT Sans"
    font-size: 14px
    font-weight: normal
    a
      text-decoration: none
      text-transform: uppercase
      color: #66000D
      &:hover
        color: $color1