#header-music-container
  display: inline-block
  position: relative
  max-height: 57px
  .jp-type-playlist
    display: inline-block
    .jp-playlist
      display: inline-block
      ul
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-family: PTSans;
        text-align: center;
        color: #ca0019;
        position: relative;
        display: inline-block;
        //line-height: 57px;
        span.jp-free-media
          display: none
        li.jp-playlist-current a
          font-family: PTSans;
          color: #ca0019;
          display: block
          max-width: 200px
          overflow: hidden
          outline: none
          text-decoration: none
        a
          display: none


