.media-menu
  margin-top: 30px
  margin-bottom: 0
  padding: 0
  text-align: center
  &-item
    display: inline-block
    text-decoration: blink
    position: relative
    text-align: center
    &:after
      content: ''
      display: inline-block
      height: 18px
      border-right: 2px solid #fff
      right: 0
      top: 8px
      position: absolute
    &:last-of-type
      &:after
        content: none
    a
      color: #fff
      font-family: Proxima Nova;
      font-size: 24px;
      font-weight: bold;
      border-bottom: 3px dotted #fff
      &:hover
        text-decoration: none
  .active
    a
      color: #ca0019;
      text-decoration: none
      border-bottom: none


