.pagination
  margin: 0
  padding: 0
  text-align: center
  width: 100%
  margin-top: 25px;
  ul
    display: block
    li
      display: inline-block
      font-family: PTSans;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      color: #fff
      a
        color: #fff
        padding: 0 10px
        text-decoration: underline
    .active-page
      a
        color: #ddd
    #prev, #next
      font-style: normal


