html,body
  margin: 0
  padding: 0
  height: 100%
ul
  padding: 0
  margin: 0

.vcenter
  display: inline-block;
  vertical-align: middle;
  float: none;

.simple-page
  width: 100%
  height: 100%
  background-image: url("../img/bg-simple.png")
  background-size cover
  display: table
  &-inner
    display: table-cell
    vertical-align: middle
  &-text
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;

.main-title
  font-family: Proxima Nova;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;

.second-title
  font-family: PTSans;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;

.about-me
  margin: 50px 0
.partners
  &-item
    text-align: center





