.svg-fb_icon {
	background: url("svg/sprite.css-f1504d25.svg") 100% 0 no-repeat;
}

.svg-fb_icon-dims {
	width: 34px;
	height: 34px;
}

.svg-insta_icon {
	background: url("svg/sprite.css-f1504d25.svg") 0 0 no-repeat;
}

.svg-insta_icon-dims {
	width: 35px;
	height: 34px;
}

.svg-vk_icon {
	background: url("svg/sprite.css-f1504d25.svg") 0 100% no-repeat;
}

.svg-vk_icon-dims {
	width: 34px;
	height: 34px;
}

.svg-you_tube {
	background: url("svg/sprite.css-f1504d25.svg") 97.14285714285714% 100% no-repeat;
}

.svg-you_tube-dims {
	width: 34px;
	height: 34px;
}

