/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$vk_name = 'VK';
$vk_x = 55px;
$vk_y = 129px;
$vk_offset_x = -55px;
$vk_offset_y = -129px;
$vk_width = 34px;
$vk_height = 34px;
$vk_total_width = 240px;
$vk_total_height = 232px;
$vk_image = '../img/sprite.png';
$vk = 55px 129px -55px -129px 34px 34px 240px 232px '../img/sprite.png' 'VK';
$btn_menu_radius_close_name = 'btn-menu-radius-close';
$btn_menu_radius_close_x = 70px;
$btn_menu_radius_close_y = 0px;
$btn_menu_radius_close_offset_x = -70px;
$btn_menu_radius_close_offset_y = 0px;
$btn_menu_radius_close_width = 46px;
$btn_menu_radius_close_height = 46px;
$btn_menu_radius_close_total_width = 240px;
$btn_menu_radius_close_total_height = 232px;
$btn_menu_radius_close_image = '../img/sprite.png';
$btn_menu_radius_close = 70px 0px -70px 0px 46px 46px 240px 232px '../img/sprite.png' 'btn-menu-radius-close';
$btn_menu_radius_name = 'btn-menu-radius';
$btn_menu_radius_x = 0px;
$btn_menu_radius_y = 63px;
$btn_menu_radius_offset_x = 0px;
$btn_menu_radius_offset_y = -63px;
$btn_menu_radius_width = 46px;
$btn_menu_radius_height = 46px;
$btn_menu_radius_total_width = 240px;
$btn_menu_radius_total_height = 232px;
$btn_menu_radius_image = '../img/sprite.png';
$btn_menu_radius = 0px 63px 0px -63px 46px 46px 240px 232px '../img/sprite.png' 'btn-menu-radius';
$contacts_name = 'contacts';
$contacts_x = 163px;
$contacts_y = 129px;
$contacts_offset_x = -163px;
$contacts_offset_y = -129px;
$contacts_width = 16px;
$contacts_height = 16px;
$contacts_total_width = 240px;
$contacts_total_height = 232px;
$contacts_image = '../img/sprite.png';
$contacts = 163px 129px -163px -129px 16px 16px 240px 232px '../img/sprite.png' 'contacts';
$cooperation_icon_name = 'cooperation-icon';
$cooperation_icon_x = 136px;
$cooperation_icon_y = 0px;
$cooperation_icon_offset_x = -136px;
$cooperation_icon_offset_y = 0px;
$cooperation_icon_width = 50px;
$cooperation_icon_height = 42px;
$cooperation_icon_total_width = 240px;
$cooperation_icon_total_height = 232px;
$cooperation_icon_image = '../img/sprite.png';
$cooperation_icon = 136px 0px -136px 0px 50px 42px 240px 232px '../img/sprite.png' 'cooperation-icon';
$dj_icon_name = 'dj-icon';
$dj_icon_x = 0px;
$dj_icon_y = 0px;
$dj_icon_offset_x = 0px;
$dj_icon_offset_y = 0px;
$dj_icon_width = 50px;
$dj_icon_height = 43px;
$dj_icon_total_width = 240px;
$dj_icon_total_height = 232px;
$dj_icon_image = '../img/sprite.png';
$dj_icon = 0px 0px 0px 0px 50px 43px 240px 232px '../img/sprite.png' 'dj-icon';
$email_icon_name = 'email-icon';
$email_icon_x = 206px;
$email_icon_y = 150px;
$email_icon_offset_x = -206px;
$email_icon_offset_y = -150px;
$email_icon_width = 15px;
$email_icon_height = 11px;
$email_icon_total_width = 240px;
$email_icon_total_height = 232px;
$email_icon_image = '../img/sprite.png';
$email_icon = 206px 150px -206px -150px 15px 11px 240px 232px '../img/sprite.png' 'email-icon';
$facebook_name = 'facebook';
$facebook_x = 206px;
$facebook_y = 0px;
$facebook_offset_x = -206px;
$facebook_offset_y = 0px;
$facebook_width = 34px;
$facebook_height = 34px;
$facebook_total_width = 240px;
$facebook_total_height = 232px;
$facebook_image = '../img/sprite.png';
$facebook = 206px 0px -206px 0px 34px 34px 240px 232px '../img/sprite.png' 'facebook';
$instagram_name = 'instagram';
$instagram_x = 0px;
$instagram_y = 129px;
$instagram_offset_x = 0px;
$instagram_offset_y = -129px;
$instagram_width = 35px;
$instagram_height = 34px;
$instagram_total_width = 240px;
$instagram_total_height = 232px;
$instagram_image = '../img/sprite.png';
$instagram = 0px 129px 0px -129px 35px 34px 240px 232px '../img/sprite.png' 'instagram';
$load_name = 'load';
$load_x = 0px;
$load_y = 217px;
$load_offset_x = 0px;
$load_offset_y = -217px;
$load_width = 11px;
$load_height = 15px;
$load_total_width = 240px;
$load_total_height = 232px;
$load_image = '../img/sprite.png';
$load = 0px 217px 0px -217px 11px 15px 240px 232px '../img/sprite.png' 'load';
$micro_icon_name = 'micro-icon';
$micro_icon_x = 136px;
$micro_icon_y = 62px;
$micro_icon_offset_x = -136px;
$micro_icon_offset_y = -62px;
$micro_icon_width = 37px;
$micro_icon_height = 43px;
$micro_icon_total_width = 240px;
$micro_icon_total_height = 232px;
$micro_icon_image = '../img/sprite.png';
$micro_icon = 136px 62px -136px -62px 37px 43px 240px 232px '../img/sprite.png' 'micro-icon';
$misic_icon_name = 'misic-icon';
$misic_icon_x = 206px;
$misic_icon_y = 54px;
$misic_icon_offset_x = -206px;
$misic_icon_offset_y = -54px;
$misic_icon_width = 32px;
$misic_icon_height = 28px;
$misic_icon_total_width = 240px;
$misic_icon_total_height = 232px;
$misic_icon_image = '../img/sprite.png';
$misic_icon = 206px 54px -206px -54px 32px 28px 240px 232px '../img/sprite.png' 'misic-icon';
$music_close_icon_name = 'music-close-icon';
$music_close_icon_x = 206px;
$music_close_icon_y = 102px;
$music_close_icon_offset_x = -206px;
$music_close_icon_offset_y = -102px;
$music_close_icon_width = 32px;
$music_close_icon_height = 28px;
$music_close_icon_total_width = 240px;
$music_close_icon_total_height = 232px;
$music_close_icon_image = '../img/sprite.png';
$music_close_icon = 206px 102px -206px -102px 32px 28px 240px 232px '../img/sprite.png' 'music-close-icon';
$pause_name = 'pause';
$pause_x = 34px;
$pause_y = 183px;
$pause_offset_x = -34px;
$pause_offset_y = -183px;
$pause_width = 8px;
$pause_height = 13px;
$pause_total_width = 240px;
$pause_total_height = 232px;
$pause_image = '../img/sprite.png';
$pause = 34px 183px -34px -183px 8px 13px 240px 232px '../img/sprite.png' 'pause';
$play_name = 'play';
$play_x = 62px;
$play_y = 183px;
$play_offset_x = -62px;
$play_offset_y = -183px;
$play_width = 8px;
$play_height = 11px;
$play_total_width = 240px;
$play_total_height = 232px;
$play_image = '../img/sprite.png';
$play = 62px 183px -62px -183px 8px 11px 240px 232px '../img/sprite.png' 'play';
$search_name = 'search';
$search_x = 0px;
$search_y = 183px;
$search_offset_x = 0px;
$search_offset_y = -183px;
$search_width = 14px;
$search_height = 14px;
$search_total_width = 240px;
$search_total_height = 232px;
$search_image = '../img/sprite.png';
$search = 0px 183px 0px -183px 14px 14px 240px 232px '../img/sprite.png' 'search';
$singer_icon_name = 'singer-icon';
$singer_icon_x = 70px;
$singer_icon_y = 66px;
$singer_icon_offset_x = -70px;
$singer_icon_offset_y = -66px;
$singer_icon_width = 34px;
$singer_icon_height = 43px;
$singer_icon_total_width = 240px;
$singer_icon_total_height = 232px;
$singer_icon_image = '../img/sprite.png';
$singer_icon = 70px 66px -70px -66px 34px 43px 240px 232px '../img/sprite.png' 'singer-icon';
$youtube_name = 'youtube';
$youtube_x = 109px;
$youtube_y = 129px;
$youtube_offset_x = -109px;
$youtube_offset_y = -129px;
$youtube_width = 34px;
$youtube_height = 34px;
$youtube_total_width = 240px;
$youtube_total_height = 232px;
$youtube_image = '../img/sprite.png';
$youtube = 109px 129px -109px -129px 34px 34px 240px 232px '../img/sprite.png' 'youtube';
$spritesheet_width = 240px;
$spritesheet_height = 232px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $vk $btn_menu_radius_close $btn_menu_radius $contacts $cooperation_icon $dj_icon $email_icon $facebook $instagram $load $micro_icon $misic_icon $music_close_icon $pause $play $search $singer_icon $youtube;
$spritesheet = 240px 232px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
